<copilot-iep-nx-header (logout)="onLogout()" [drawerOpened]="drawerOpened" (drawerToggle)="onDrawerToggle()"></copilot-iep-nx-header>
<kendo-drawer-container class="drawer-container">
  <kendo-drawer
    [items]="items"
    [expanded]="expanded"
    mode="push"
    [mini]="mini"
    [position]="'start'"
    (select)="onSelect($event)"
    [autoCollapse]="true"
    [width]="240"
    [miniWidth]="60"
    *ngIf="items.length"
  >
    <ng-template kendoDrawerItemTemplate let-item>
      <a
        *ngIf="item.route; else filterContractLink"
        [routerLink]="item.route"
        routerLinkActive="k-selected"
        [routerLinkActiveOptions]="{ exact: true }"
        class="drawer-link"
         [ngClass]="{'drawerToggle': item.id === 'filter-contract'}"
      >
        <span
          class="material-symbols-outlined drawer-icon"
          [ngClass]="{'active': isActive(item)}"
        >{{item?.icon}}</span>
        <span *ngIf="expanded" class="drawer-text">{{ item?.text }}</span>
      </a>
      <ng-template #filterContractLink>
        <a
          href="#"
          (click)="$event.preventDefault(); onSelect({ item: item })"
          class="drawer-link"
           [ngClass]="{'drawerToggle': item.id === 'filter-contract'}"
        >
          <span class="material-symbols-outlined drawer-icon">{{item?.icon}}</span>
          <span *ngIf="expanded" class="drawer-text">{{ item?.text }}</span>
        </a>
      </ng-template>
    </ng-template>
  </kendo-drawer>
  <kendo-drawer-content>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </kendo-drawer-content>
</kendo-drawer-container>
