<header class="k-header">
  <button kendoButton look="clear" class="drawer-toggle" (click)="toggleDrawer()">
    
    <span class="material-symbols-outlined">
      menu
    </span>

  </button>

  <span class="app-title">     <img src="/assets/images/Logo-Dashboard.png" />   | OTR
       </span>
  <span class="spacer"></span>
  <div class="righ-section">
    <ul>
      <li><span>My Request</span></li>
      <li><span>Support Ticket</span></li>
    </ul>
  </div>
  <button kendoButton look="clear" class="user-icon" (click)="onLogout()">
    <span class="material-symbols-outlined">
      account_circle
    </span>
  </button>
</header>