<div class="chart-view">
  <div class="without-as-built">
    <div class="iep-chart-header">
      <h3>N&deg; ECR INDEX -- By Month ({{ years[currentPage - 1] }})</h3>
    </div>
    <kendo-chart (seriesClick)="onBarClick($event)">
      <kendo-chart-legend position="top"></kendo-chart-legend>
       <kendo-chart-category-axis>
        <kendo-chart-category-axis-item [categories]="categories"></kendo-chart-category-axis-item>
       </kendo-chart-category-axis>
      
      <kendo-chart-series>
        <kendo-chart-series-item  
          type="column"
          [gap]="8"
          [spacing]="0.25" [data]="ecrdata"
          color="#1976d2"> 
        </kendo-chart-series-item>
      </kendo-chart-series>
    </kendo-chart>
    <kendo-pager
      [skip]="currentPage - 1"
      [pageSize]="pageSize"
      [total]="years.length"
      (pageChange)="onPageChange($event)">
    </kendo-pager>
  </div>
  <div class="without-as-built">
    <div class="iep-chart-header">
      <h3>N&deg; ECR INDEX -- By Source Of Change</h3>
    </div>
    <kendo-chart (seriesClick)="onBarClick($event)">
      <kendo-chart-legend position="top"></kendo-chart-legend>
       <kendo-chart-category-axis>
        <kendo-chart-category-axis-item [categories]="categories"></kendo-chart-category-axis-item>
       </kendo-chart-category-axis>
      
      <kendo-chart-series>
        <kendo-chart-series-item  
          type="column"
          [gap]="8"
          [spacing]="0.25" [data]="ecrdata"
          color="#1976d2"> 
        </kendo-chart-series-item>
      </kendo-chart-series>
    </kendo-chart>
    <kendo-pager
      [skip]="currentPage - 1"
      [pageSize]="pageSize"
      [total]="years.length"
      (pageChange)="onPageChange($event)">
    </kendo-pager>

    <!-- Pager -->
 
  </div>
</div>

<div *ngIf="showGrid" class="ecn-grid-wrapper">
  <div class="iep-grid-header" >
    <div class="header-left">
      <h3>Tabular View</h3>
      <span class="result-count">Result: {{ gridView.length }}</span> 

    </div>
    <div class="header-right">
      <button
        class="icon-btn"
        (click)="toggleCollapse()"
        title="{{ isGridExpanded ? 'Collapse Grid' : 'Expand Grid' }}"
      >
        <span class="material-symbols-outlined">{{
          isGridExpanded ? 'fullscreen_exit' : 'fullscreen'
        }}</span>
      </button>
      <button
        class="icon-btn"
        
        title="Close"
      >
        <span class="material-symbols-outlined">close</span>
      </button>
    </div>
  </div>
  <iep-grid
    [data]="gridView"
    [columns]="mapView"
    [pageable]="true"
    [enablescrolling]="true"
    [selectable]="true"
    [acknowledgeable]="true"
    [source]="'ecn'"
    class="iep-grid-scrollable"
  ></iep-grid>
</div>
