<div class="filter-activities-panel">
  <div class="dropdown-row">
    <kendo-label>View As
    <kendo-multiselect class="filter-dropdown" [checkboxes]="true" [data]="viewAsOptions" [(ngModel)]="selectedViewAs" (ngModelChange)="openFavourite()" ></kendo-multiselect></kendo-label>
    <kendo-label>Function
    <kendo-multiselect class="filter-dropdown" [checkboxes]="true" [data]="functionsOptions" [(ngModel)]="selectedFunction" ></kendo-multiselect></kendo-label>
    <kendo-label>Document Type
    <kendo-multiselect class="filter-dropdown" [checkboxes]="true" [data]="documentTypeOptions" [(ngModel)]="selectedDocumentType"></kendo-multiselect></kendo-label>
    <kendo-label>Activity Status
    <kendo-multiselect class="filter-dropdown" [checkboxes]="true" [data]="activityStatusOptions" [(ngModel)]="selectedActivityStatus" ></kendo-multiselect></kendo-label>
    <kendo-label>Activity Type
    <kendo-multiselect class="filter-dropdown" [checkboxes]="true" [data]="activityTypeOptions" [(ngModel)]="selectedActivityType" ></kendo-multiselect></kendo-label>
    <kendo-label>Finish By
    <kendo-multiselect class="filter-dropdown" [checkboxes]="true" [data]="finishByOptions" [(ngModel)]="selectedFinishBy"></kendo-multiselect></kendo-label>
    <kendo-label>Date Type
    <kendo-multiselect class="filter-dropdown" [checkboxes]="true" [data]="dateTypeOptions" [(ngModel)]="selectedDateType" ></kendo-multiselect></kendo-label>
  </div>
  <div class="result-row">
    <kendo-buttongroup selection="single" >
    <button kendoButton [togglable]="true" [rounded]="rounded" class="result-btn" [selected]="true">Total Documents ({{ totalDocuments }})</button>
    <button kendoButton [togglable]="true" [rounded]="rounded" class="result-btn">Backlogs ({{ backlogs }})</button>
    <button kendoButton [togglable]="true" [rounded]="rounded" class="result-btn">Forecast ({{ forecast }})</button>
    <button kendoButton [togglable]="true" [rounded]="rounded" class="result-btn">Not Acknowledged ({{ notAcknowledged }})</button>
    <button kendoButton [togglable]="true" [rounded]="rounded" class="result-btn">Step ({{ step }})</button>
    <button kendoButton [togglable]="true" [rounded]="rounded" class="result-btn">Rulestream ({{ rulestream }})</button>
    </kendo-buttongroup>
  </div>
  <div class="card-scroll-wrapper">
    <button class="scroll-arrow left" (click)="scrollLeft()">
      <span class="material-symbols-outlined">chevron_left</span>
    </button>
    
    <div class="card-scroll-view">
      <div class="card-tile" *ngFor="let card of visibleCards; let i = index"
        [ngStyle]="{
          'background-color': i === 0 ? '#ffe6ec' : (i === 1 ? '#fffbe6' : '')
        }">
        <div kendoTooltip class="bottom" position="bottom">
        <div class="card-title" [title]="card.title">{{ card.title }}</div>
        <div class="card-desc">{{ card.description }}</div>
        </div>
   
    </div>
    </div>
    <button class="scroll-arrow right" (click)="scrollRight()">
      <span class="material-symbols-outlined">chevron_right</span>
    </button>
  </div>
</div>
<kendo-dialog *ngIf="favouriteDialogOpen" class="right-dialog" (close)="favouriteDialogOpen = false">
  <kendo-dialog-titlebar>Select Office</kendo-dialog-titlebar>
  <copilot-iep-nx-shared-office></copilot-iep-nx-shared-office>

</kendo-dialog>