@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* You can add global styles to this file, and also import other style files */

body, *:not(.material-symbols-outlined) {
  font-family: 'Roboto', Arial, sans-serif !important;
}
::ng-deep .iep-operation-panel .k-tabstrip-items {
  display: flex !important;
  border-bottom: none !important;
  background: transparent !important;
}
::ng-deep .iep-operation-panel .k-tabstrip-items .k-tabstrip-item,
::ng-deep .iep-operation-panel .k-tabstrip-items .k-item {
  background: transparent !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  margin: 0 16px 0 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
}
::ng-deep .iep-operation-panel .k-tabstrip-items .k-item.k-active{

  padding: 2px;
  color: black!important;
  border-bottom-color: #209474!important;
  font-weight: 600!important;
}
::ng-deep .iep-operation-panel .k-tabstrip-top>.k-tabstrip-items-wrapper .k-item.k-active{
  border-bottom-color: #209474!important;
}
