<div class="login-bg">
  <div class="login-container">
     <img src="assets/images/Logo.png" alt=".." />
    <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="loginForm">
      <h2 class="login-title">Sign in</h2>
      <div *ngIf="error" class="error k-messagebox k-messagebox-error">{{ error }}</div>
      <label class="login-label" for="username">Username</label>
      <kendo-textbox id="username" formControlName="username" class="login-input"></kendo-textbox>
      <label class="login-label" for="password">Password</label>
      <kendo-textbox id="password" formControlName="password" type="password" class="login-input"></kendo-textbox>
      <div class="login-options">
        <label class="remember-me">
          <input type="checkbox" formControlName="rememberMe" />
          Remember me
        </label>
        <a class="forgot-link" href="#">Forgot password?</a>
      </div>
      <button kendoButton type="submit" [disabled]="loginForm.invalid" class="login-btn">Login</button>
    </form>
  </div>
</div>
