$primary: #209474;
$kendo-color-primary: $primary;
$kendo-color-primary-dark: darken($primary, 10%);
$kendo-color-primary-light: lighten($primary, 15%);
$kendo-link-text: $primary;
$kendo-checkbox-checked-bg: $primary;
$kendo-checkbox-checked-border: $primary;
$kendo-checkbox-focus-border: $primary;

@import '~@progress/kendo-theme-default/dist/all.css';

/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px!important;
}
:root {
  --kendo-color-primary: #209474!important;
  --kendo-color-hover: #145c4c!important;
--kendo-color-primary-hover:#209474!important;
  --kendo-color-on-primary: #ffffff!important;
  --kendo-color-primary-dark: #1a6f5f!important;
  --kendo-color-primary-light: #2ab88c!important;
  --kendo-color-secondary: #1976d2!important;
  --kendo-color-secondary-hover: #145c4c!important;
  --kendo-color-on-secondary: #ffffff!important;
  --kendo-color-secondary-dark: #145c4c!important;
  --kendo-color-secondary-light: #2ab88c!important;
  --kendo-link-text: #209474!important;
  --kendo-checkbox-checked-bg: #209474!important;
  --kendo-checkbox-checked-border: #209474!important;
  --kendo-checkbox-focus-border: #209474!important;
}
// *{
//  font-family: Google Sans Code, sans-serif!important;
// }
.iep-operation-panel {
 .k-tabstrip-content {
  overflow-x: hidden !important;
}
}