$primary: #209474;
$kendo-color-primary: $primary;
$kendo-color-primary-dark: darken($primary, 10%);
$kendo-color-primary-light: lighten($primary, 15%);
$kendo-link-text: $primary;
$kendo-checkbox-checked-bg: $primary;
$kendo-checkbox-checked-border: $primary;
$kendo-checkbox-focus-border: $primary;

@import '~@progress/kendo-theme-default/dist/all.css';
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px!important;
}
:root {
  --kendo-color-primary: #209474!important;
  --kendo-color-hover: #145c4c!important;
--kendo-color-primary-hover:#209474!important;
  --kendo-color-on-primary: #ffffff!important;
  --kendo-color-primary-dark: #1a6f5f!important;
  --kendo-color-primary-light: #2ab88c!important;
  --kendo-color-secondary-hover: #145c4c!important;
  --kendo-color-on-secondary: #ffffff!important;
  --kendo-color-secondary-dark: #145c4c!important;
  --kendo-color-secondary-light: #2ab88c!important;
  --kendo-link-text: #209474!important;
  --kendo-checkbox-checked-bg: #209474!important;
  --kendo-checkbox-checked-border: #209474!important;
  --kendo-checkbox-focus-border: #209474!important;
  --kendo-color-primary-on-surface:#209474!important;
  --kendo-color-primary-on-surface-hover:#209474!important;
  --kendo-color-primary-on-surface-active:#209474!important;
  --kendo-color-primary-on-surface-disabled:#209474!important;
}
// *{
//  font-family: Google Sans Code, sans-serif!important;
// }
.iep-operation-panel {
 .k-tabstrip-content {
  overflow-x: hidden !important;
}
}

body, *:not(.material-symbols-outlined) {
  font-family: "Inter Tight", "Segoe UI", 'Roboto',
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol"!important;
  font-size: 13px !important;
}
.drawer-container .k-drawer-item.k-selected {
  background: none !important;
}
 .iep-operation-panel .k-tabstrip-items {
  display: flex !important;
  border-bottom: none !important;
  background: transparent !important;
}
.iep-operation-panel .k-tabstrip-items .k-tabstrip-item,
.iep-operation-panel .k-tabstrip-items .k-item {
  background: transparent !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  margin: 0 16px 0 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
}
.iep-operation-panel .k-tabstrip-items .k-item.k-active{

  padding: 2px;
  color: black!important;
  border-bottom-color: #209474!important;
  font-weight: 600!important;
}
.iep-operation-panel .k-tabstrip-top>.k-tabstrip-items-wrapper .k-item.k-active{
  border-bottom-color: #209474!important;
}
.dashboard-title {
  font-size: 1.5rem!important;
  font-weight: bold!important;
  white-space: nowrap!important;
  margin-left: 2rem!important;
}
.dashboard-tabs{
   margin-left: 2rem!important; 
}
.right-dialog .k-dialog {
  position: fixed !important;
  right: 0!important;
  transform: translate(0, -50%)!important;
   top: 50%;
   height: 80%!important;
  width: 40%;
}
.right-dialog .k-dialog-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-dialog .k-dialog-close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}
.resource-dialog .k-dialog{
  max-height:500px!important;
 // overflow: scroll!important;
}
.ncr-pager{
  display: flex!important;
    align-items: flex-end!important;
    flex-direction: column!important;
    border: none!important;

}
.ncr-pager .k-pager-sizes{
  display: none!important;
}
.ncr-pager .k-pager-numbers-wrap .k-button{
  border: 1px solid #cac0c0!important;
}
.iep-grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.iep-grid-header .header-left {
  display: flex;
  align-items: center;
  gap: 18px;
}
.iep-grid-header h3 {
  margin: 0;
  font-size: 22px; /* Bigger font for Activities */
  font-weight: 700;
  color: #05322B;
}
.iep-grid-header .result-count {
  font-size: 18px; /* Bigger font for Result */
 // color: #209474;
 // font-weight: 600;
  margin-left: 0;
}
.iep-grid-header .icon-btn {
  background: none;
  border: none;
  cursor: pointer;
 // padding: 2px 4px;
  border-radius: 4px;
  transition: background 0.2s;
  font-size: 16px;
}
.iep-grid-header .icon-btn:hover {
  background: #f0f0f0;
}
::ng-deep .iep-grid-header .header-right .material-symbols-outlined  {
    cursor: pointer !important;
    font-size: 19px !important;
    padding-left: 13px;
}
.iep-grid-header kendo-svgicon {
  display: none!important;
}
 .iep-dialog-titlebar .k-window-titlebar-actions {
  display: none!important;
}
.k-grid-norecords{
  text-align: left!important;
}
.right-dialog-absolute {
  position: absolute;
  right: 0;
}
/* Collapse Icon (when node is expanded) */

// .iep-tree-view .k-treeview .k-icon {
//   background-image: url('/assets/images/icons/chevron_right.svg')!important; /* your custom icon */
//   background-size: contain;
//   width: 16px;
//   height: 16px;
//   content: none!important;
// }
 
// /* Expand Icon (when node is collapsed) */
// .iep-tree-view .k-treeview .k-icon.k-i-expand {
//   background-image: url('/assets/images/icons/chevron_down.svg')!important; /* your custom icon */
//   background-size: contain;
//   width: 16px;
//   height: 16px;
// }
 
// /* Hide the default icon content */
// .k-treeview .k-icon,
// .k-treeview .k-icon.k-i-collapse::before {
//   content: '';
// }
 
// .advance-expansion-panel .k-expander-indicator::before {
//   content: "-";
// }
.advance-expansion-panel .k-multiselect .k-chip-list {
  display: none;
}
.autocomplete-list::-webkit-scrollbar {
   width: 6px;
 }
 .autocomplete-list::-webkit-scrollbar-thumb {
   background-color: #ccc;
   border-radius: 3px;
 }
 .drawer-container .k-drawer-item.k-selected {
  background: none !important;
}
.nameDialog .k-window-content, .k-prompt-container {
  min-width: 300px!important;
min-height: 100px!important;
}
.searchTabs .k-tabstrip-items-wrapper{
  background-color: #EBEFEE!important;

}
.searchTabs .k-tabstrip-items-wrapper .k-item.k-active {
  border:5px solid  #EBEFEE!important;
  padding:6px!important;
}
.right-dialog .k-dialog {
  position: fixed !important;
  right: 0!important;
  transform: translate(0, -50%)!important;
   top: 50%;
   height: 50%!important;
  width: 30%;
}
.right-dialog .k-dialog-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-dialog .k-dialog-close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}
.k-treeview-item > div {
  width: 85%!important ;
}
.result-row > .k-button-group > .k-button.k-selected {
  box-shadow: none !important;
  border-color: #209474 !important;
  background-color: #209474 !important;
  color: #fff !important;
}

.result-row > .k-button-group  > .k-button{
     border-start-end-radius: 50px!important; 
    border-end-end-radius: 50px!important; 
     border-start-start-radius: 50px!important; 
     border-end-start-radius: 50px!important; 
}