<div class="login-bg">
  <div class="login-split-container">
    <div class="login-left">
      <img src="assets/images/BH-login.png" alt="Logo"  />
    </div>
    <div class="login-right">
      <div class="login-content">
      <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="loginForm">
         <img src="assets/images/Logo.png" alt="Logo" class="login-logo" />
        <h3 class="login-title">Sign in</h3>
        <div *ngIf="error" class="error k-messagebox k-messagebox-error">{{ error }}</div>
        <!-- <kendo-label text="SSO ID" class="login-label"><span class="required-star">*</span> -->
        <label class="login-label" for="ssoid">SSO ID <span class="required-star">*</span></label>
        <kendo-textbox id="username" formControlName="username" placeholder="admin@be.com" #ssoid class="login-input"></kendo-textbox>
        <div *ngIf="loginForm.get('username')?.touched" class="validation-error">
          <span *ngIf="loginForm.get('username')?.errors?.['required']">SSO ID is required.</span>
          <span *ngIf="loginForm.get('username')?.errors?.['minlength']">SSO ID must be at least 3 characters.</span>
        </div>
        <!-- </kendo-label> -->
        <label class="login-label" for="password">Password <span class="required-star">*</span></label>
        <kendo-textbox id="password" formControlName="password" id="password" type="password" placeholder="*******" class="login-input"></kendo-textbox>
        <div *ngIf="loginForm.get('password')?.touched" class="validation-error">
          <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</span>
          <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 3 characters.</span>
        </div>
        <div class="login-options">
           <kendo-checkbox formControlName="rememberMe" class="remember-checkbox"></kendo-checkbox>
        
          <label class="remember-me">
          
            Remember me
          </label>
         
        </div>
        <button kendoButton type="submit" [disabled]="loginForm.invalid" class="login-btn">Login</button>
      </form>
      <p class="bottom-login">Can't access your account? &nbsp;&nbsp;<a href="#" class="support-link">Contact Support</a></p>
   <footer class="footer-login">Privacy policy . Terms of use</footer>
   </div>
    </div>
  </div>
</div>

